@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}

:root {
  background-color: #09090b;
  /* zinc-950 */
  color: #fafafa;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}